body {}

.nav-menu {
  margin-left: auto;

}

.nav-main-div {
  display: flex;

  flex-wrap: wrap;
}

.container-div {
  width: 90%;
}

.active-style {
  color: red;
  text-decoration: none;
  margin-right: 20px;
}

.dis-active {
  color: rgb(53, 50, 50);
  text-decoration: none;
  margin-right: 20px;
}

.Brand-name {
  text-decoration: none;
  font-weight: 1000;
  font-size: 23px;
}

.main-div-home {
  width: 90%;
  margin-left: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-div-home {
  margin-top: 10vw;

}

.image-div-home {
  width: 50vh;
  margin-right: 5vh;

}

.h2-home {
  margin: 0 0 0 0;
}

.btn-home {
  all: unset;
}

/*Home css end*/

/**card*/
.btn-color {
  color: white;
}

/*form*/

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  min-height: 5vh;
  max-height: 5vh;
  margin-top: 2vh;
}

.contact-form textarea {
  min-height: 10vh;
  max-height: 10vh;
  margin-top: 2vh;
}

.contact-form button {
  min-height: 5vh;
  max-height: 5vh;
  margin-top: 2vh;
  border-radius: 0.5vh;
  border: none;
  color: white;
  background-color: #0d6efd;
}

.contact-form button:hover {
  background-color: #76a6ee;
}