.main {
    /* border: 3px solid rgb(172, 45, 45); */
    height: 150px;
    width: 14%;
    margin: 17% 0 0 44%;
    border-radius: 10px;
    background-color: rgb(188, 156, 219);
}

.Btn-div {
    /* border: 3px solid rgb(74, 173, 61); */
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 100%px;
    padding: 10px;
    background-color: rgb(184, 184, 184);
}

.IncBtn {
    height: 100%;
    width: 43%;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}

.DecBtn {
    height: 100%;
    width: 43%;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
}



h1 {
    text-align: center;
    /* border: 3px solid black; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: black;
    color: white;
}