body {
  padding: 0px;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Header {
  /* border: 2px solid black; */
  /* padding: 10px; */
  background-color: rgb(58, 47, 75);
  display: flex;
}

.icon-div {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.login-div {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*search start*/
.search-div {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*search end*/

/*menu start*/
.menu-div {}

.menu-div ul li {

  list-style: none;
  margin-left: 10px;
  padding-left: 5px;
  display: flex;
  /* box-sizing: 0px; */
}

.menu-div ul {
  /* border: 2px solid black; */
  display: flex;
  margin-top: 17px;
  padding: 0px;
  color: white;

}

/*menu end*/